body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color: red;
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}

.button-link {
    display: inline-block; /* Makes it behave like a button within inline content */
    padding: 10px 20px; /* Adjust padding for desired button size */
    text-align: center; /* Center text within the button */
    text-decoration: none; /* Remove underline from link */
    color: #fff; /* Text color */
    background-color: #007bff; /* Button background color */
    border: none; /* Remove default link border */
    border-radius: 4px; /* Add square corners */
    cursor: pointer; /* Indicate clickable element */
}
  
.button-link:hover { /* Styles on hover */
    background-color: #0069d9; /* Change background color slightly on hover */
}
    